*{
    padding: 0;
    margin:0;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: magenta;
}
.main
{
    height: 80vmin;
    width: 40vmin;
    background-color: aliceblue;
}
.output
{
    height: 20vmin;
    display:flex;
    justify-content: flex-end;
    align-items: end;
}
.second-section
{
    height: 60vmin;
    width: 40vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height: 12vmin;
    width: 10vmin;
    border: 1px solid black;
    font-size: 6vmin;
    color: #b0413e;
}
.box:hover{
    cursor: pointer;
}